<div id="container">
	<div class="user_nav">
		<% if current_user %>
		Logged in as <%= current_user.email %>
		<%= link_to "Log Out", logout_path %>
		<% else %>
		<%= link_to "Sign up", signup_path %>    or  
		<%= link_to "log in", login_path %>
		<% end %>
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id =>"flash_#{name}" %>
		<% end %>



<h1>Welcome Home</h1>
<p> I am a movie fanatic. When friends want to know what picture won the Oscar in 1980 or who played the police chief in Jaws, they ask me. My friends, though, have stopped asking me if I want to go out to the movies. The problems in getting to the theater, the theater itself, and the behavior of some patrons are all reasons why I often wait for a movie to show up on TV.</p>

<%= link_to "Secret", secret_path, class:"item" %>
</div>
</div>
